<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kinnect">

        <!-- 01 Splash: launcher, opens Log in automatically -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Kinnect.Teal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 02 Log in -->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 03 Sign up -->
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 04 Home feed -->
        <activity
            android:name=".HomeActivity" />

        <!-- 05 Reaction picker -->
        <activity
            android:name=".ReactionPickerActivity"
            android:theme="@style/Theme.Kinnect.Overlay" />

        <!-- 06 Comments -->
        <activity
            android:name=".CommentsActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 07 Create post -->
        <activity
            android:name=".CreatePostActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 08 Photo picker -->
        <activity
            android:name=".PhotoPickerActivity" />

        <!-- 09 Camera -->
        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.Kinnect.Dark" />

        <!-- 10 Story editor -->
        <activity
            android:name=".StoryEditorActivity"
            android:theme="@style/Theme.Kinnect.Dark" />

        <!-- 11 Story viewer -->
        <activity
            android:name=".StoryViewerActivity"
            android:theme="@style/Theme.Kinnect.Dark"
            android:windowSoftInputMode="adjustResize" />

        <!-- 12 Your story -->
        <activity
            android:name=".YourStoryActivity"
            android:theme="@style/Theme.Kinnect.Dark" />

        <!-- 13 Search -->
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 14 Friends tab -->
        <activity
            android:name=".FriendsActivity" />

        <!-- 15 Profile -->
        <activity
            android:name=".ProfileActivity" />

        <!-- 16 Edit profile -->
        <activity
            android:name=".EditProfileActivity" />

        <!-- 17 Other profile -->
        <activity
            android:name=".OtherProfileActivity" />

        <!--ACTIVITIES-->
    </application>

</manifest>
